<a href="https://colab.research.google.com/github/rjanow/Masterarbeit/blob/main/UV_Measurement_to_CSV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hier werden die Rohdaten des BTS2048-UV-WP in eine nutzbare CSV-Datei geschrieben

Dokumentenname: UV_Measurement_to_CSV.ipynb




Es werden die OR0-Daten (NasaAmes-Format), die eigentlich für den Versand an das BFS gedacht sind umgewandelt und in eine CSV-Datei geschrieben. Aufgrund der großen Datenmenge geschieht dies für jeden Monat getrennt.

In [1]:
# Import der benötigten Module
import os, sys
import glob
import datetime
import pandas as pd
import numpy as np
import csv
import re
import matplotlib.pyplot as plt

from scipy.io import netcdf
from datetime import timedelta
from datetime import datetime

from google.colab import drive
from google.colab import files

**Monat der Exportiert werden soll:**

In [2]:
month = '22.09'

Zu Beginn muss die Google-Drive eingerichtet werden, in der die Messdaten (OR0-Dateien) gespeichert sind. Danach werden alle verfügbaren Unterordner aufgerufen. So wird geprüft, ob der Mount richtig funktioniert hat.

In [3]:
drive.mount('/content/drive')

drive_path = '/content/drive/MyDrive'
# Durchsuche den Google Drive-Pfad
for root, dirs, files in os.walk(drive_path):
    for dir in dirs:
        # Gib den Namen des Unterordners aus
        print(os.path.join(root, dir))

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/MyDrive/Colab_Notebooks
/content/drive/MyDrive/Colab Notebooks
/content/drive/MyDrive/Colab_Notebooks/CSV_Messdaten
/content/drive/MyDrive/Colab_Notebooks/NasaAmes_Messdaten
/content/drive/MyDrive/Colab_Notebooks/CSV_UVI
/content/drive/MyDrive/Colab_Notebooks/CSV_Gewichtet
/content/drive/MyDrive/Colab_Notebooks/CSV_SolarRadiation
/content/drive/MyDrive/Colab_Notebooks/netCDF4_Wetterdaten
/content/drive/MyDrive/Colab_Notebooks/CAMS_Vorhersage
/content/drive/MyDrive/Colab_Notebooks/Clean_Data
/content/drive/MyDrive/Colab_Notebooks/plot_daily_UVI
/content/drive/MyDrive/Colab_Notebooks/SOLYS_Messdaten
/content/drive/MyDrive/Colab_Notebooks/NasaAmes_Messdaten/Data
/content/drive/MyDrive/Colab_Notebooks/NasaAmes_Messdaten/Data/22.07
/content/drive/MyDrive/Colab_Notebooks/NasaAmes_Messdaten/Data/22.08
/content/drive/MyDrive/Colab_Notebooks/NasaAmes_Messdaten/Data/22.09
/content/drive/MyDrive/Colab_Notebooks/NasaAmes_Messdaten/Data/22.10
/content/drive/MyDrive/Colab_Notebooks/NasaAmes_Messdaten/Data/22.11
/content/drive/MyDrive/Colab_Notebooks/NasaAmes_Messdaten/Data/22.12
/content/drive/MyDrive/Colab_Notebooks/NasaAmes_Messdaten/Data/23.01
/content/drive/MyDrive/Colab_Notebooks/NasaAmes_Messdaten/Data/23.02
/content/drive/MyDrive/Colab_Notebooks/NasaAmes_Messdaten/Data/23.03
/content/drive/MyDrive/Colab_Notebooks/NasaAmes_Messdaten/Data/23.04
/content/drive/MyDrive/Colab_Notebooks/NasaAmes_Messdaten/Data/23.05
/content/drive/MyDrive/Colab_Notebooks/NasaAmes_Messdaten/Data/23.06
/content/drive/MyDrive/Colab_Notebooks/NasaAmes_Messdaten/Data/23.07
/content/drive/MyDrive/Colab_Notebooks/NasaAmes_Messdaten/Data/23.08
/content/drive/MyDrive/Colab_Notebooks/NasaAmes_Messdaten/Data/22.06

Danach werden die einzelnen OR0-Dateien (NasaAmes Format) geladen und umgewandelt.

Das NasaAmes Format: https://espoarchive.nasa.gov/content/Ames_Format_Specification_v20

Die Messdaten sind unter dem FFI (File Format Index) 2005 gespeichert. Dieser Standard ist durch die Nasa nicht dokumentiert. Deshalb nachfolgend ein eigener Parser, der die Daten in eine nutzbare CSV umwandelt.

**Beschreibung der einzelnen Dictionaries und deren Inhalt:**

- **file_names** = enthält die Dateinamen der einzelnen OR0-Dateien
- **file_content** = Enthält den Inhalt der OR0-Dateien
- **end_line_header** = enthält die Zeile an dem der Header endet

**Dateien einlesen:**

In [4]:
# Pfad zum Ordner mit den Dateien in Google Drive
folder_path = '/content/drive/MyDrive/Colab_Notebooks/NasaAmes_Messdaten/Data/' + month

# OR0-Dateien im Ordner lesen
file_paths = glob.glob(folder_path + '/*.OR0')

# Liste für die Dateinamen erstellen
file_names = []

# Schleife über die Dateien
for file_path in file_paths:

    if os.path.getsize(file_path) > 100 * 1024:
      # Dateiname extrahieren
      file_name = os.path.splitext(os.path.basename(file_path))[0]

      # Datei öffnen und Inhalt lesen
      with open(file_path, 'r') as file:
          file_content = file.read()

      # Variable für die Datei erstellen
      globals()[file_name] = file_content

      file_names.append(file_name)

**Dataframe mit Wellenlängen erstellen:**
- Dieser wird später genutzt um die Spalten des Dataframe zu benennen.

In [5]:
def create_df_Wellenlaenge(start, end, step):
    # Erstelle eine Liste mit den gewünschten Werten
    numbers_list = [round(num, 3) for num in list(np.arange(start, end + step, step))]
    # Erstelle den Dataframe
    df = pd.DataFrame({'Wellenlaenge': numbers_list})

    return df

In [6]:
np_Wellenlaenge = np.round(np.arange(290.0, 420.05, 0.1), decimals = 1)
df_Wellenlaenge = pd.DataFrame({'Wellenlaenge': np_Wellenlaenge})

**String aufteilen in einzelne Zeile schreiben:**

- Zur weitern Verarbeitung müssen alle Elemente als einzelene Strings abgespeichet werden.

In [7]:
file_content = {}  # Dictionary für die Messungen erstellen

for file_name in file_names:
    file_variables = globals()[file_name]
    file_content[file_name] = file_variables

# Auf Variablen zugreifen und String in Zeilen aufteilen
for file_name, variable in file_content.items():
    file_content[file_name] = file_content[file_name].split('\n')

**Header extrahieren:**

In [8]:
# Funktion um den Dateiheader zu extrahieren
def perform_action(file_variables, file_names):
    header_dict = {file_name: "" for file_name in file_names}
    end_line_header_fnc = 0

    for file_name, data in file_variables.items():
        for i, line in enumerate(data):
            header_dict[file_name] += line + "\n"
            if line.strip() == "Pyranometer: readout interval [secs]=5":
                end_line_header_fnc = i
                break

    return header_dict, end_line_header_fnc

In [9]:
file_header, end_line_header = perform_action(file_content, file_names)

**Header aus Datensatz löschen:**

In [10]:
def remove_header(lines_content, end_line):
    lines_WO_header_fnc = {}
    lines_WO_header_fnc = lines_content.copy()

    for key, value in lines_WO_header_fnc.items():
        del value[:end_line+1]

    return lines_WO_header_fnc

In [11]:
lines_WO_header = remove_header(file_content, end_line_header)

**Elemente aufteilen:**

In [12]:
def flatten_and_split(input_list):
    result = []
    for sublist in input_list:
        elements = sublist.split()
        result.extend(elements)
    return result

In [13]:
def process_dict(input_dict):
    processed_dict = {}
    for key, value in input_dict.items():
        processed_value = flatten_and_split(value)
        sublists = []
        sublist = []
        for element in processed_value:
            if element.isdigit() and len(element) == 5:
                if sublist:
                    sublists.append(sublist)
                    sublist = []
            sublist.append(element)
        if sublist:
            sublists.append(sublist)
        processed_dict[key] = sublists
    return processed_dict

In [14]:
processed_dict = process_dict(lines_WO_header)

**Zeitstempel in Datensatz finden:**

In [15]:
# Funktion zum finden eines 5 stelligen Integers (= Zeitstempel)
def find_5_digit_integers(input_list):
    result = []
    for sublist in input_list:
        for element in sublist:
            if isinstance(element, str) and element.isdigit() and len(element) == 5:
                result.append(element)
    return result

In [16]:
# Funktion, die durch das dict iterriert
def find_5_digit_integers_in_dict(input_dict):
    result_dict = {}
    for key, value in input_dict.items():
        result_dict[key] = find_5_digit_integers(value)
    return result_dict

In [17]:
result_dict = find_5_digit_integers_in_dict(processed_dict)

**Dict in Dataframe speichern:**

In [18]:
# Erstelle eine leere Liste, um die Zeilen für den DataFrame aufzunehmen
data_rows = []
df_rows = pd.DataFrame()
df_Messdaten = pd.DataFrame()

# Iteriere durch das verschachtelte Dictionary und erstelle Zeilen für den DataFrame
for key, value in processed_dict.items():
    for sublist in value:
        data_rows.append([key] + sublist)

# Definiere Spaltennamen für den DataFrame
columns = ['Datum'] + [f'Wert{i}' for i in range(1, len(data_rows[0]))]

# Erstelle den Pandas DataFrame
df_rows = pd.DataFrame(data_rows, columns=columns)
df_Messdaten = df_rows.copy()

**Prüfen, ob der Inhalt des DF korrekt ist:**

In [19]:
df_rows

,Datum,Wert1,Wert2,Wert3,Wert4,Wert5,Wert6,Wert7,Wert8,Wert9,...,Wert1309,Wert1310,Wert1311,Wert1312,Wert1313,Wert1314,Wert1315,Wert1316,Wert1317,Wert1318
0,SA220906,16320,97,4.000E-02,9.999E+9,2.000E+00,0.000E+00,999.9,9.999E+9,9.999E+9,...,7.8661E-04,7.7102E-04,7.7257E-04,7.7377E-04,7.7653E-04,7.8976E-04,5.1281E-04,0.0000E+00,0.0000E+00,0.0000E+00
1,SA220906,16440,95,-6.000E-02,9.999E+9,2.000E+00,0.000E+00,999.9,9.999E+9,9.999E+9,...,1.1227E-03,1.1170E-03,1.1140E-03,1.0805E-03,1.0680E-03,1.0401E-03,1.0363E-03,1.0408E-03,1.0423E-03,1.0564E-03
2,SA220906,16560,95,-6.000E-02,9.999E+9,2.000E+00,0.000E+00,999.9,9.999E+9,9.999E+9,...,1.5345E-03,1.5176E-03,1.4873E-03,1.4577E-03,1.4299E-03,1.4139E-03,1.4246E-03,1.4172E-03,1.4134E-03,1.4313E-03
3,SA220906,16680,80,4.000E-02,9.999E+9,2.000E+00,0.000E+00,999.9,9.999E+9,9.999E+9,...,2.0209E-03,1.9990E-03,1.9614E-03,1.9108E-03,1.8568E-03,1.8448E-03,1.8441E-03,1.8296E-03,1.8533E-03,1.8479E-03
4,SA220906,16800,65,4.000E-02,9.999E+9,2.000E+00,0.000E+00,999.9,9.999E+9,9.999E+9,...,2.5355E-03,2.5455E-03,2.5154E-03,2.4803E-03,2.4475E-03,2.3887E-03,2.3293E-03,2.3383E-03,2.3774E-03,2.3850E-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8254,SA220901,59400,66,4.000E-02,9.999E+9,2.000E+00,0.000E+00,999.9,9.999E+9,9.999E+9,...,2.7140E-01,2.7109E-01,2.6810E-01,2.6345E-01,2.5861E-01,2.5476E-01,2.5227E-01,2.5079E-01,2.5025E-01,2.5176E-01
8255,SA220901,59520,63,4.000E-02,9.999E+9,2.000E+00,0.000E+00,999.9,9.999E+9,9.999E+9,...,2.6426E-01,2.6422E-01,2.6067E-01,2.5452E-01,2.5061E-01,2.4746E-01,2.4503E-01,2.4379E-01,2.4375E-01,2.4554E-01
8256,SA220901,59640,111,4.000E-02,9.999E+9,2.000E+00,0.000E+00,999.9,9.999E+9,9.999E+9,...,2.5048E-01,2.4962E-01,2.4697E-01,2.4124E-01,2.3864E-01,2.3564E-01,2.3276E-01,2.3154E-01,2.3206E-01,2.3369E-01
8257,SA220901,59760,78,4.000E-02,9.999E+9,2.000E+00,0.000E+00,999.9,9.999E+9,9.999E+9,...,2.4472E-01,2.4430E-01,2.4125E-01,2.3657E-01,2.3358E-01,2.3066E-01,2.2762E-01,2.2667E-01,2.2782E-01,2.2902E-01
8258,SA220901,59880,78,4.000E-02,9.999E+9,2.000E+00,0.000E+00,999.9,9.999E+9,9.999E+9,...,2.4065E-01,2.4078E-01,2.3677E-01,2.3288E-01,2.2949E-01,2.2646E-01,2.2385E-01,2.2220E-01,2.2220E-01,2.2415E-01

**Konvertieren des DF:**

In [20]:
# Bestimme die Indexposition, ab der die neuen Spaltennamen zugewiesen werden sollen
start_index = 18  # Beginne ab der 18ten Spalte um an die Messdaten zu kommen

new_column_names = []

# Extrahiere die neuen Spaltennamen aus dem zweiten DataFrame
new_column_names = df_Wellenlaenge['Wellenlaenge'].tolist()
print(new_column_names)

# Ändere die Spaltennamen des DataFrames ab der angegebenen Indexposition
for i, new_name in enumerate(new_column_names):
    df_Messdaten.columns.values[start_index + i] = new_name

[290.0, 290.1, 290.2, 290.3, 290.4, 290.5, 290.6, 290.7, 290.8, 290.9, 291.0, 291.1, 291.2, 291.3, 291.4, 291.5, 291.6, 291.7, 291.8, 291.9, 292.0, 292.1, 292.2, 292.3, 292.4, 292.5, 292.6, 292.7, 292.8, 292.9, 293.0, 293.1, 293.2, 293.3, 293.4, 293.5, 293.6, 293.7, 293.8, 293.9, 294.0, 294.1, 294.2, 294.3, 294.4, 294.5, 294.6, 294.7, 294.8, 294.9, 295.0, 295.1, 295.2, 295.3, 295.4, 295.5, 295.6, 295.7, 295.8, 295.9, 296.0, 296.1, 296.2, 296.3, 296.4, 296.5, 296.6, 296.7, 296.8, 296.9, 297.0, 297.1, 297.2, 297.3, 297.4, 297.5, 297.6, 297.7, 297.8, 297.9, 298.0, 298.1, 298.2, 298.3, 298.4, 298.5, 298.6, 298.7, 298.8, 298.9, 299.0, 299.1, 299.2, 299.3, 299.4, 299.5, 299.6, 299.7, 299.8, 299.9, 300.0, 300.1, 300.2, 300.3, 300.4, 300.5, 300.6, 300.7, 300.8, 300.9, 301.0, 301.1, 301.2, 301.3, 301.4, 301.5, 301.6, 301.7, 301.8, 301.9, 302.0, 302.1, 302.2, 302.3, 302.4, 302.5, 302.6, 302.7, 302.8, 302.9, 303.0, 303.1, 303.2, 303.3, 303.4, 303.5, 303.6, 303.7, 303.8, 303.9, 304.0, 304.1, 304.2, 304.3, 304.4, 304.5, 304.6, 304.7, 304.8, 304.9, 305.0, 305.1, 305.2, 305.3, 305.4, 305.5, 305.6, 305.7, 305.8, 305.9, 306.0, 306.1, 306.2, 306.3, 306.4, 306.5, 306.6, 306.7, 306.8, 306.9, 307.0, 307.1, 307.2, 307.3, 307.4, 307.5, 307.6, 307.7, 307.8, 307.9, 308.0, 308.1, 308.2, 308.3, 308.4, 308.5, 308.6, 308.7, 308.8, 308.9, 309.0, 309.1, 309.2, 309.3, 309.4, 309.5, 309.6, 309.7, 309.8, 309.9, 310.0, 310.1, 310.2, 310.3, 310.4, 310.5, 310.6, 310.7, 310.8, 310.9, 311.0, 311.1, 311.2, 311.3, 311.4, 311.5, 311.6, 311.7, 311.8, 311.9, 312.0, 312.1, 312.2, 312.3, 312.4, 312.5, 312.6, 312.7, 312.8, 312.9, 313.0, 313.1, 313.2, 313.3, 313.4, 313.5, 313.6, 313.7, 313.8, 313.9, 314.0, 314.1, 314.2, 314.3, 314.4, 314.5, 314.6, 314.7, 314.8, 314.9, 315.0, 315.1, 315.2, 315.3, 315.4, 315.5, 315.6, 315.7, 315.8, 315.9, 316.0, 316.1, 316.2, 316.3, 316.4, 316.5, 316.6, 316.7, 316.8, 316.9, 317.0, 317.1, 317.2, 317.3, 317.4, 317.5, 317.6, 317.7, 317.8, 317.9, 318.0, 318.1, 318.2, 318.3, 318.4, 318.5, 318.6, 318.7, 318.8, 318.9, 319.0, 319.1, 319.2, 319.3, 319.4, 319.5, 319.6, 319.7, 319.8, 319.9, 320.0, 320.1, 320.2, 320.3, 320.4, 320.5, 320.6, 320.7, 320.8, 320.9, 321.0, 321.1, 321.2, 321.3, 321.4, 321.5, 321.6, 321.7, 321.8, 321.9, 322.0, 322.1, 322.2, 322.3, 322.4, 322.5, 322.6, 322.7, 322.8, 322.9, 323.0, 323.1, 323.2, 323.3, 323.4, 323.5, 323.6, 323.7, 323.8, 323.9, 324.0, 324.1, 324.2, 324.3, 324.4, 324.5, 324.6, 324.7, 324.8, 324.9, 325.0, 325.1, 325.2, 325.3, 325.4, 325.5, 325.6, 325.7, 325.8, 325.9, 326.0, 326.1, 326.2, 326.3, 326.4, 326.5, 326.6, 326.7, 326.8, 326.9, 327.0, 327.1, 327.2, 327.3, 327.4, 327.5, 327.6, 327.7, 327.8, 327.9, 328.0, 328.1, 328.2, 328.3, 328.4, 328.5, 328.6, 328.7, 328.8, 328.9, 329.0, 329.1, 329.2, 329.3, 329.4, 329.5, 329.6, 329.7, 329.8, 329.9, 330.0, 330.1, 330.2, 330.3, 330.4, 330.5, 330.6, 330.7, 330.8, 330.9, 331.0, 331.1, 331.2, 331.3, 331.4, 331.5, 331.6, 331.7, 331.8, 331.9, 332.0, 332.1, 332.2, 332.3, 332.4, 332.5, 332.6, 332.7, 332.8, 332.9, 333.0, 333.1, 333.2, 333.3, 333.4, 333.5, 333.6, 333.7, 333.8, 333.9, 334.0, 334.1, 334.2, 334.3, 334.4, 334.5, 334.6, 334.7, 334.8, 334.9, 335.0, 335.1, 335.2, 335.3, 335.4, 335.5, 335.6, 335.7, 335.8, 335.9, 336.0, 336.1, 336.2, 336.3, 336.4, 336.5, 336.6, 336.7, 336.8, 336.9, 337.0, 337.1, 337.2, 337.3, 337.4, 337.5, 337.6, 337.7, 337.8, 337.9, 338.0, 338.1, 338.2, 338.3, 338.4, 338.5, 338.6, 338.7, 338.8, 338.9, 339.0, 339.1, 339.2, 339.3, 339.4, 339.5, 339.6, 339.7, 339.8, 339.9, 340.0, 340.1, 340.2, 340.3, 340.4, 340.5, 340.6, 340.7, 340.8, 340.9, 341.0, 341.1, 341.2, 341.3, 341.4, 341.5, 341.6, 341.7, 341.8, 341.9, 342.0, 342.1, 342.2, 342.3, 342.4, 342.5, 342.6, 342.7, 342.8, 342.9, 343.0, 343.1, 343.2, 343.3, 343.4, 343.5, 343.6, 343.7, 343.8, 343.9, 344.0, 344.1, 344.2, 344.3, 344.4, 344.5, 344.6, 344.7, 344.8, 344.9, 345.0, 345.1, 345.2, 345.3, 345.4, 345.5, 345.6, 345.7, 345.8, 345.9, 346.0, 346.1, 346.2, 346.3, 346.4, 346.5, 346.6, 346.7, 346.8, 346.9, 347.0, 347.1, 347.2, 347.3, 347.4, 347.5, 347.6, 347.7, 347.8, 347.9, 348.0, 348.1, 348.2, 348.3, 348.4, 348.5, 348.6, 348.7, 348.8, 348.9, 349.0, 349.1, 349.2, 349.3, 349.4, 349.5, 349.6, 349.7, 349.8, 349.9, 350.0, 350.1, 350.2, 350.3, 350.4, 350.5, 350.6, 350.7, 350.8, 350.9, 351.0, 351.1, 351.2, 351.3, 351.4, 351.5, 351.6, 351.7, 351.8, 351.9, 352.0, 352.1, 352.2, 352.3, 352.4, 352.5, 352.6, 352.7, 352.8, 352.9, 353.0, 353.1, 353.2, 353.3, 353.4, 353.5, 353.6, 353.7, 353.8, 353.9, 354.0, 354.1, 354.2, 354.3, 354.4, 354.5, 354.6, 354.7, 354.8, 354.9, 355.0, 355.1, 355.2, 355.3, 355.4, 355.5, 355.6, 355.7, 355.8, 355.9, 356.0, 356.1, 356.2, 356.3, 356.4, 356.5, 356.6, 356.7, 356.8, 356.9, 357.0, 357.1, 357.2, 357.3, 357.4, 357.5, 357.6, 357.7, 357.8, 357.9, 358.0, 358.1, 358.2, 358.3, 358.4, 358.5, 358.6, 358.7, 358.8, 358.9, 359.0, 359.1, 359.2, 359.3, 359.4, 359.5, 359.6, 359.7, 359.8, 359.9, 360.0, 360.1, 360.2, 360.3, 360.4, 360.5, 360.6, 360.7, 360.8, 360.9, 361.0, 361.1, 361.2, 361.3, 361.4, 361.5, 361.6, 361.7, 361.8, 361.9, 362.0, 362.1, 362.2, 362.3, 362.4, 362.5, 362.6, 362.7, 362.8, 362.9, 363.0, 363.1, 363.2, 363.3, 363.4, 363.5, 363.6, 363.7, 363.8, 363.9, 364.0, 364.1, 364.2, 364.3, 364.4, 364.5, 364.6, 364.7, 364.8, 364.9, 365.0, 365.1, 365.2, 365.3, 365.4, 365.5, 365.6, 365.7, 365.8, 365.9, 366.0, 366.1, 366.2, 366.3, 366.4, 366.5, 366.6, 366.7, 366.8, 366.9, 367.0, 367.1, 367.2, 367.3, 367.4, 367.5, 367.6, 367.7, 367.8, 367.9, 368.0, 368.1, 368.2, 368.3, 368.4, 368.5, 368.6, 368.7, 368.8, 368.9, 369.0, 369.1, 369.2, 369.3, 369.4, 369.5, 369.6, 369.7, 369.8, 369.9, 370.0, 370.1, 370.2, 370.3, 370.4, 370.5, 370.6, 370.7, 370.8, 370.9, 371.0, 371.1, 371.2, 371.3, 371.4, 371.5, 371.6, 371.7, 371.8, 371.9, 372.0, 372.1, 372.2, 372.3, 372.4, 372.5, 372.6, 372.7, 372.8, 372.9, 373.0, 373.1, 373.2, 373.3, 373.4, 373.5, 373.6, 373.7, 373.8, 373.9, 374.0, 374.1, 374.2, 374.3, 374.4, 374.5, 374.6, 374.7, 374.8, 374.9, 375.0, 375.1, 375.2, 375.3, 375.4, 375.5, 375.6, 375.7, 375.8, 375.9, 376.0, 376.1, 376.2, 376.3, 376.4, 376.5, 376.6, 376.7, 376.8, 376.9, 377.0, 377.1, 377.2, 377.3, 377.4, 377.5, 377.6, 377.7, 377.8, 377.9, 378.0, 378.1, 378.2, 378.3, 378.4, 378.5, 378.6, 378.7, 378.8, 378.9, 379.0, 379.1, 379.2, 379.3, 379.4, 379.5, 379.6, 379.7, 379.8, 379.9, 380.0, 380.1, 380.2, 380.3, 380.4, 380.5, 380.6, 380.7, 380.8, 380.9, 381.0, 381.1, 381.2, 381.3, 381.4, 381.5, 381.6, 381.7, 381.8, 381.9, 382.0, 382.1, 382.2, 382.3, 382.4, 382.5, 382.6, 382.7, 382.8, 382.9, 383.0, 383.1, 383.2, 383.3, 383.4, 383.5, 383.6, 383.7, 383.8, 383.9, 384.0, 384.1, 384.2, 384.3, 384.4, 384.5, 384.6, 384.7, 384.8, 384.9, 385.0, 385.1, 385.2, 385.3, 385.4, 385.5, 385.6, 385.7, 385.8, 385.9, 386.0, 386.1, 386.2, 386.3, 386.4, 386.5, 386.6, 386.7, 386.8, 386.9, 387.0, 387.1, 387.2, 387.3, 387.4, 387.5, 387.6, 387.7, 387.8, 387.9, 388.0, 388.1, 388.2, 388.3, 388.4, 388.5, 388.6, 388.7, 388.8, 388.9, 389.0, 389.1, 389.2, 389.3, 389.4, 389.5, 389.6, 389.7, 389.8, 389.9, 390.0, 390.1, 390.2, 390.3, 390.4, 390.5, 390.6, 390.7, 390.8, 390.9, 391.0, 391.1, 391.2, 391.3, 391.4, 391.5, 391.6, 391.7, 391.8, 391.9, 392.0, 392.1, 392.2, 392.3, 392.4, 392.5, 392.6, 392.7, 392.8, 392.9, 393.0, 393.1, 393.2, 393.3, 393.4, 393.5, 393.6, 393.7, 393.8, 393.9, 394.0, 394.1, 394.2, 394.3, 394.4, 394.5, 394.6, 394.7, 394.8, 394.9, 395.0, 395.1, 395.2, 395.3, 395.4, 395.5, 395.6, 395.7, 395.8, 395.9, 396.0, 396.1, 396.2, 396.3, 396.4, 396.5, 396.6, 396.7, 396.8, 396.9, 397.0, 397.1, 397.2, 397.3, 397.4, 397.5, 397.6, 397.7, 397.8, 397.9, 398.0, 398.1, 398.2, 398.3, 398.4, 398.5, 398.6, 398.7, 398.8, 398.9, 399.0, 399.1, 399.2, 399.3, 399.4, 399.5, 399.6, 399.7, 399.8, 399.9, 400.0, 400.1, 400.2, 400.3, 400.4, 400.5, 400.6, 400.7, 400.8, 400.9, 401.0, 401.1, 401.2, 401.3, 401.4, 401.5, 401.6, 401.7, 401.8, 401.9, 402.0, 402.1, 402.2, 402.3, 402.4, 402.5, 402.6, 402.7, 402.8, 402.9, 403.0, 403.1, 403.2, 403.3, 403.4, 403.5, 403.6, 403.7, 403.8, 403.9, 404.0, 404.1, 404.2, 404.3, 404.4, 404.5, 404.6, 404.7, 404.8, 404.9, 405.0, 405.1, 405.2, 405.3, 405.4, 405.5, 405.6, 405.7, 405.8, 405.9, 406.0, 406.1, 406.2, 406.3, 406.4, 406.5, 406.6, 406.7, 406.8, 406.9, 407.0, 407.1, 407.2, 407.3, 407.4, 407.5, 407.6, 407.7, 407.8, 407.9, 408.0, 408.1, 408.2, 408.3, 408.4, 408.5, 408.6, 408.7, 408.8, 408.9, 409.0, 409.1, 409.2, 409.3, 409.4, 409.5, 409.6, 409.7, 409.8, 409.9, 410.0, 410.1, 410.2, 410.3, 410.4, 410.5, 410.6, 410.7, 410.8, 410.9, 411.0, 411.1, 411.2, 411.3, 411.4, 411.5, 411.6, 411.7, 411.8, 411.9, 412.0, 412.1, 412.2, 412.3, 412.4, 412.5, 412.6, 412.7, 412.8, 412.9, 413.0, 413.1, 413.2, 413.3, 413.4, 413.5, 413.6, 413.7, 413.8, 413.9, 414.0, 414.1, 414.2, 414.3, 414.4, 414.5, 414.6, 414.7, 414.8, 414.9, 415.0, 415.1, 415.2, 415.3, 415.4, 415.5, 415.6, 415.7, 415.8, 415.9, 416.0, 416.1, 416.2, 416.3, 416.4, 416.5, 416.6, 416.7, 416.8, 416.9, 417.0, 417.1, 417.2, 417.3, 417.4, 417.5, 417.6, 417.7, 417.8, 417.9, 418.0, 418.1, 418.2, 418.3, 418.4, 418.5, 418.6, 418.7, 418.8, 418.9, 419.0, 419.1, 419.2, 419.3, 419.4, 419.5, 419.6, 419.7, 419.8, 419.9, 420.0]

In [21]:
df_Messdaten

,Datum,Wert1,Wert2,Wert3,Wert4,Wert5,Wert6,Wert7,Wert8,Wert9,...,419.1,419.2,419.3,419.4,419.5,419.6,419.7,419.8,419.9,420.0
0,SA220906,16320,97,4.000E-02,9.999E+9,2.000E+00,0.000E+00,999.9,9.999E+9,9.999E+9,...,7.8661E-04,7.7102E-04,7.7257E-04,7.7377E-04,7.7653E-04,7.8976E-04,5.1281E-04,0.0000E+00,0.0000E+00,0.0000E+00
1,SA220906,16440,95,-6.000E-02,9.999E+9,2.000E+00,0.000E+00,999.9,9.999E+9,9.999E+9,...,1.1227E-03,1.1170E-03,1.1140E-03,1.0805E-03,1.0680E-03,1.0401E-03,1.0363E-03,1.0408E-03,1.0423E-03,1.0564E-03
2,SA220906,16560,95,-6.000E-02,9.999E+9,2.000E+00,0.000E+00,999.9,9.999E+9,9.999E+9,...,1.5345E-03,1.5176E-03,1.4873E-03,1.4577E-03,1.4299E-03,1.4139E-03,1.4246E-03,1.4172E-03,1.4134E-03,1.4313E-03
3,SA220906,16680,80,4.000E-02,9.999E+9,2.000E+00,0.000E+00,999.9,9.999E+9,9.999E+9,...,2.0209E-03,1.9990E-03,1.9614E-03,1.9108E-03,1.8568E-03,1.8448E-03,1.8441E-03,1.8296E-03,1.8533E-03,1.8479E-03
4,SA220906,16800,65,4.000E-02,9.999E+9,2.000E+00,0.000E+00,999.9,9.999E+9,9.999E+9,...,2.5355E-03,2.5455E-03,2.5154E-03,2.4803E-03,2.4475E-03,2.3887E-03,2.3293E-03,2.3383E-03,2.3774E-03,2.3850E-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8254,SA220901,59400,66,4.000E-02,9.999E+9,2.000E+00,0.000E+00,999.9,9.999E+9,9.999E+9,...,2.7140E-01,2.7109E-01,2.6810E-01,2.6345E-01,2.5861E-01,2.5476E-01,2.5227E-01,2.5079E-01,2.5025E-01,2.5176E-01
8255,SA220901,59520,63,4.000E-02,9.999E+9,2.000E+00,0.000E+00,999.9,9.999E+9,9.999E+9,...,2.6426E-01,2.6422E-01,2.6067E-01,2.5452E-01,2.5061E-01,2.4746E-01,2.4503E-01,2.4379E-01,2.4375E-01,2.4554E-01
8256,SA220901,59640,111,4.000E-02,9.999E+9,2.000E+00,0.000E+00,999.9,9.999E+9,9.999E+9,...,2.5048E-01,2.4962E-01,2.4697E-01,2.4124E-01,2.3864E-01,2.3564E-01,2.3276E-01,2.3154E-01,2.3206E-01,2.3369E-01
8257,SA220901,59760,78,4.000E-02,9.999E+9,2.000E+00,0.000E+00,999.9,9.999E+9,9.999E+9,...,2.4472E-01,2.4430E-01,2.4125E-01,2.3657E-01,2.3358E-01,2.3066E-01,2.2762E-01,2.2667E-01,2.2782E-01,2.2902E-01
8258,SA220901,59880,78,4.000E-02,9.999E+9,2.000E+00,0.000E+00,999.9,9.999E+9,9.999E+9,...,2.4065E-01,2.4078E-01,2.3677E-01,2.3288E-01,2.2949E-01,2.2646E-01,2.2385E-01,2.2220E-01,2.2220E-01,2.2415E-01

In [30]:
# Splaten in float umwandeln
for spalte in new_column_names:
    # Konvertiere nur, wenn die Spalte im DataFrame existiert
    if str(spalte) in df_Messdaten.columns:
        df_Messdaten[str(spalte)] = df_Messdaten[str(spalte)].astype(float)

In [32]:
# Funktion zum Konvertieren des Datumsformats
def convert_date_format(date_str):
    date_str = date_str[2:]  # Entferne das "SA"-Präfix
    date_obj = datetime.strptime(date_str, "%y%m%d")
    return date_obj

In [33]:
# Wende die Funktion auf die Spalte an
df_Messdaten['Datum'] = df_Messdaten['Datum'].apply(convert_date_format)

Bis hier hin funktioniert alles ordnungsgemäß.

In [40]:
df_Messdaten_drop = pd.DataFrame()
spalten_zum_loeschen = df_Messdaten.columns[2:18]  # Index 3 bis Index 19
print(spalten_zum_loeschen, df_Messdaten_drop)
df_Messdaten_drop = df_Messdaten.drop(spalten_zum_loeschen, axis=1).copy()

Index(['Wert2', 'Wert3', 'Wert4', 'Wert5', 'Wert6', 'Wert7', 'Wert8', 'Wert9',
       'Wert10', 'Wert11', 'Wert12', 'Wert13', 'Wert14', 'Wert15', 'Wert16',
       'Wert17'],
      dtype='object') Empty DataFrame
Columns: []
Index: []

In [70]:
df_Messdaten_drop = pd.DataFrame()

In [72]:
df_Messdaten_drop = df_Messdaten.drop(spalten_zum_loeschen, axis = 1).copy()
df_Messdaten_drop

,Datum,Wert1,290.0,290.1,290.2,290.3,290.4,290.5,290.6,290.7,...,419.1,419.2,419.3,419.4,419.5,419.6,419.7,419.8,419.9,420.0
0,2022-09-06,16320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-09-06,16440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-09-06,16560,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-09-06,16680,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-09-06,16800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8254,2022-09-01,59400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8255,2022-09-01,59520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8256,2022-09-01,59640,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8257,2022-09-01,59760,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8258,2022-09-01,59880,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
print(df_Messdaten.isnull().sum(), df_Messdaten_drop.isnull().sum())

Datum    0
Wert1    0
Wert2    0
Wert3    0
Wert4    0
        ..
419.6    8
419.7    8
419.8    8
419.9    8
420.0    8
Length: 1319, dtype: int64 Datum       0
Wert1       0
290.0    8259
290.1    8259
290.2    8259
         ...
419.6    8259
419.7    8259
419.8    8259
419.9    8259
420.0    8259
Length: 1303, dtype: int64

In [ ]:
# Splaten umbennen und ordnen
spalte_uhrzeit = pd.to_datetime(df_Messdaten_drop['Wert1'], unit='s').dt.time

print(spalte_uhrzeit)

position = 1
df_Messdaten_drop.insert(position, 'Uhrzeit', spalte_uhrzeit)

spaltenname = 'Messzeitpunkt'
df_Messdaten_drop.rename(columns={'Wert1': spaltenname}, inplace=True)

df_Messdaten_drop.insert(0, 'Datetime', df_Messdaten_drop['Datum'] + pd.to_timedelta(df_Messdaten_drop['Uhrzeit'].astype(str)))

In [ ]:
def save_dataframe_to_drive(dataframe, folder_path, filename):

    # Erstelle den vollen Pfad zur Datei
    full_path = os.path.join(folder_path, filename)

    # Speichere den DataFrame als CSV-Datei auf Google Drive
    dataframe.to_csv(full_path, index=False)

    print(f'Der DataFrame wurde als {filename} in {folder_path} auf Google Drive gespeichert.')

In [ ]:
save_dataframe_to_drive(df_Messdaten, '/content/drive/My Drive/Colab_Notebooks/CSV_Messdaten', month)

**Allgemeine Informationen über den Dataframe:**

In [ ]:
def finde_max_werte_fuer_alle_spalten(df):
    # Erstellt ein Dictionary, um die maximalen Werte jeder Spalte zu speichern
    max_werte = {}
    id_werte = {}
    # Iteriere über alle Spalten im DataFrame
    for spalte in df.columns:
        # Ignoriere nicht-numerische Spalten
        if pd.api.types.is_numeric_dtype(df[spalte]):
            max_werte[spalte] = df[spalte].max()      # Maximaler Wert
            id_werte[spalte] = df[spalte].idxmax()    # Spalte mit dem höchsten Wert
    return max_werte, id_werte

In [ ]:
# Funktion um den Maximalen Eintrag einer Spalte zu finden
max_werte, id_werte = finde_max_werte_fuer_alle_spalten(df_Messdaten[np_Wellenlaenge])

In [ ]:
# Plotten der maximalen Werte nach Wellenlänge
schluessel_max = list(max_werte.keys())
werte_max = list(max_werte.values())
plt.plot(schluessel_max, werte_max)

In [ ]:
max_werte_rows, id_werte_rows = finde_max_werte_fuer_alle_spalten(df_rows[np_Wellenlaenge])

schluessel_max = list(max_werte_rows.keys())      # Spalte mit dem maximalen Eintrag
werte_max = list(max_werte_rows.values())         # Maximaler Wert
plt.plot(schluessel_max, werte_max)               # Plotten der maximalen Werte über den jeweiligen Wellenlängen

In [ ]:
#
schluessel_id = list(id_werte.keys())
werte_id = list(id_werte.values())
plt.plot(schluessel_id, werte_id)

In [ ]:
threshold = 0.002
selected_rows = df_Messdaten[df_Messdaten.iloc[:, 18:1305].gt(threshold).any(axis=1)]

In [ ]:
selected_rows

In [ ]:
nan_einträge = df_Messdaten[df_Messdaten.isna().any(axis=1)]

In [ ]:
nan_einträge, df_Messdaten

am 01.09 und 02.09 gibt es fehlerhafte Einträge. Diese am besten händisch korregieren.